/* model image stick in desktop */
@media (min-width: 768px) {
  .jewelrycare-bg-fixed {
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
  }
}