# PayMongo API Keys (Sandbox)
VITE_PAYMONGO_PUBLIC_KEY=pk_test_your_public_key_here
VITE_PAYMONGO_SECRET_KEY=sk_test_your_secret_key_here

# Backend API URLs
# For local development
VITE_PRODUCT_API=http://localhost:3000/product/
VITE_CATEGORY_API=http://localhost:3000/category/
VITE_CATEGORIES_API=http://localhost:3000/category
VITE_ORDER_API=http://localhost:3000/order
VITE_USER_API=http://localhost:3000/user
VITE_CART_API=http://localhost:3000/cart
VITE_WISHLIST_API=http://localhost:3000/wishlist
VITE_COLLECTION_API=http://localhost:3000/collection
VITE_CONTENT_API=http://localhost:3000/content
